<% if can? :read, Recipe %>
  <section class="recipe-index">
    <p id="notice"><%= notice %></p>

    <h1>Recipes</h1>

    <table>
      <thead class="table-headers">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <tr class="recipe-row">
            <td><%= recipe.name %></td>
            <td><%= recipe.description %></td>
            <td><%= link_to 'Delete', "recipes/#{recipe.id}", data: {confirm: "Are you sure?"}, method: :delete, class: 'submit delete_btn' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Recipe', new_user_recipe_path, class:"submit delete_btn" %>
  </section>
<% end %>