<div class="major_div">
  <h1><%= @recipe.name %></h1>
  <div class="details_major_div">
    <div class="details_smaller_div">
      <p>Preparation time: <span><%= @recipe.preparation_time %></span></p>
      <p>Cooking time: <span><%= @recipe.cooking_time %></span></p>
      <p><%= @recipe.description %></p>
    </div>
    <div class="public_btn_div">
      <p>Public:</p>
      <%= link_to "/recipes/#{@recipe.id}/update_public", method: :post do %>
        <label class="toggle">
          <% if @recipe.public %>
            <input type="checkbox" checked />
          <% else %>
            <input type="checkbox" />
          <% end %>
          <span class="slider round"></span>
        </label>
      <% end %>
    </div>
    
  </div>
  <div>
    <button>Generate shopping list</button>
    <button>Add Ingredient</button>
  </div>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |food|%>
      <tr>
        <th><%= food.name %></th>
        <th>placeholder for quantity <%= food.measurement_unit %></th>
        <th>$<%= food.price %></th>
        <th>
          <button>Modify</button>
          <button>Remove</button>
        </th>
      </tr>
    <% end %>
  </table>
</div>