<div class="major_div">
  <h1><%= @recipe.name %></h1>
  <div class="details_major_div">
    <div class="details_smaller_div">
      <p>Preparation time: <span><%= @recipe.preparation_time %></span></p>
      <p>Cooking time: <span><%= @recipe.cooking_time %></span></p>
      <p><%= @recipe.description %></p>
    </div>
    <div class="public_btn_div">
      <p>Public:</p>
      <%= link_to "/recipes/#{@recipe.id}/update_public", method: :post do %>
        <label class="toggle">
          <% if @recipe.public %>
            <input type="checkbox" checked />
          <% else %>
            <input type="checkbox" />
          <% end %>
          <span class="slider round"></span>
        </label>
      <% end %>
    </div>
  </div>
  <div>
    <button>Generate shopping list</button>
    <%= link_to "/recipe_foods/new" do %>
      <button>Add Ingredient</button>
    <% end %>
  </div>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |recipe|%>
      <tr>
        <th><%= recipe.food.name.capitalize %></th>
        <th><%= recipe.quantity %> <%= recipe.food.measurement_unit %></th>
        <th>$<%= recipe.price %></th>
        <th>
          <%= link_to "/recipe_foods/#{recipe.id}/edit" do %>
            <button>Modify</button>
          <% end %>
          <%= link_to "/recipe_foods/#{recipe.id}", method: :delete do %>
            <button>Remove</button>
          <% end %>
        </th>
      </tr>
    <% end %>
  </table>
</div>